.sign-up {
  position: relative;
  z-index: 1;
  width: 665px;
  min-height: 481px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 767px) {
  .sign-up {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .sign-up {
    width: 100%;
  }
}